.Rproj.user
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*data/
*.html
*.pdf
*.pptx
*.tex
*.log
*.aux
*.out
README_files/
Question1/Question1_files/
Question2/Question2_files/
Question3/Question3_files/
Question4/Question4_files/
